# Check code style, errors, etc.
flake8
flake8-import-order
pep8-naming

# Test runners
pytest
pytest-capturelog
pytest-cov
pytest-xdist
tox

# Check all files in git are in MANIFEST.in
check-manifest
